<!-- Navbar Start -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="index.html">
            <img src="assets/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
            <img src="assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
        </a>                
        <!-- Logo End -->

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0">
                <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <div class="login-btn-primary"><span class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="settings" class="fea icon-sm"></i></span></div>
                    <div class="login-btn-light"><span class="btn btn-icon btn-pills btn-light"><i data-feather="settings" class="fea icon-sm"></i></span></div>
                </a>
            </li>
            
            <li class="list-inline-item ps-1 mb-0">
                <a href="https://1.envato.market/landrick" target="_blank">
                    <div class="btn btn-icon btn-pills btn-primary"><i data-feather="user" class="fea icon-sm"></i></div>
                </a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-right">
                <li><a href="index-crypto.html" class="sub-menu-item">Home</a></li>
                <li><a href="crypto-about.html" class="sub-menu-item"> About Us</a></li>
                <li><a href="crypto-market.html" class="sub-menu-item">Market</a></li>
                <li><a href="crypto-token.html" class="sub-menu-item"> Token</a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="crypto-services.html" class="sub-menu-item"> Features</a></li>
                        <li><a href="crypto-faqs.html" class="sub-menu-item">FAQs </a></li>
                        <li><a href="crypto-whitepaper.html" class="sub-menu-item">Whitepaper </a></li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Blog </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="crypto-blog.html" class="sub-menu-item"> Blog </a></li>
                                <li><a href="crypto-blog-detail.html" class="sub-menu-item">Blog Detail</a></li>
                            </ul> 
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Auth pages </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="auth-bs-login.html" class="sub-menu-item">Login</a></li>
                                <li><a href="auth-bs-signup.html" class="sub-menu-item">Signup</a></li>
                                <li><a href="auth-bs-reset.html" class="sub-menu-item">Reset Password</a></li>
                            </ul> 
                        </li>
                    </ul>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->