<!-- Navbar Start -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="index.html">
            <img src="assets/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
            <img src="assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
        </a>
        
        <!-- Logo End -->

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0 pe-1">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- <i class="uil uil-search text-white title-dark btn-icon-light fs-5 align-middle"></i>
                        <i class="uil uil-search text-dark btn-icon-dark fs-5 align-middle"></i> -->
                        <i class="uil uil-search text-dark fs-5 align-middle"></i>
                    </button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 p-0" style="width: 300px;">
                        <div class="search-bar">
                            <div id="itemSearch" class="menu-search mb-0">
                                <form role="search" method="get" id="searchItemform" class="searchform">
                                    <input type="text" class="form-control border rounded" name="s" id="searchItem" placeholder="Search...">
                                    <input type="submit" id="searchItemsubmit" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-inline-item mb-0">
                <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <div class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="settings" class="fea icon-sm"></i></div>
                </a>
            </li>
            
            <li class="list-inline-item ps-1 mb-0">
                <a href="https://1.envato.market/landrick" target="_blank">
                    <div class="btn btn-icon btn-pills btn-primary"><i data-feather="shopping-cart" class="fea icon-sm"></i></div>
                </a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li><a href="index-blog.html" class="sub-menu-item">Home</a></li>

                <li><a href="blog-about.html" class="sub-menu-item">About</a></li>

                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">Post</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="blog-standard-post.html" class="sub-menu-item">Standard Post</a></li>
                        <li><a href="blog-slider-post.html" class="sub-menu-item">Slider Post</a></li>
                        <li><a href="blog-gallery-post.html" class="sub-menu-item">Gallery Post</a></li>
                        <li><a href="blog-youtube-post.html" class="sub-menu-item">Youtube Post</a></li>
                        <li><a href="blog-vimeo-post.html" class="sub-menu-item">Vimeo Post</a></li>
                        <li><a href="blog-audio-post.html" class="sub-menu-item">Audio Post</a></li>
                        <li><a href="blog-blockquote-post.html" class="sub-menu-item">Blockquote</a></li>
                        <li><a href="blog-left-sidebar-post.html" class="sub-menu-item">Left Sidebar</a></li>
                    </ul>
                </li>

                <li><a href="javascript:void(0)" class="sub-menu-item">Lifestyle</a></li>

                <li><a href="javascript:void(0)" class="sub-menu-item">Technology</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->