<!-- Navbar Start -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="index.html">
            <!-- <span class="logo-light-mode">
                <img src="assets/images/logo-dark.png" class="l-dark" height="24" alt="">
                <img src="assets/images/logo-light.png" class="l-light" height="24" alt="">
            </span>
            <img src="assets/images/logo-light.png" height="24" class="logo-dark-mode" alt=""> -->
            <img src="assets/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
            <img src="assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
        </a>
        <!-- End Logo container-->

        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- <i class="uil uil-search text-white title-dark btn-icon-light fs-5 align-middle"></i>
                        <i class="uil uil-search text-dark btn-icon-dark fs-5 align-middle"></i> -->
                        <i class="uil uil-search text-dark fs-5 align-middle"></i>
                    </button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 p-0" style="width: 300px;">
                        <div class="search-bar">
                            <div id="itemSearch" class="menu-search mb-0">
                                <form role="search" method="get" id="searchItemform" class="searchform">
                                    <input type="text" class="form-control border rounded" name="s" id="searchItem" placeholder="Search...">
                                    <input type="submit" id="searchItemsubmit" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="list-inline-item ps-1 mb-0">
                <a href="https://1.envato.market/landrick" target="_blank" class="btn btn-icon btn-pills btn-primary"><i class="uil uil-wallet"></i></a>
            </li>
        </ul><!--end login button-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li><a href="index-nft.html" class="sub-menu-item">Home</a></li>

                <li><a href="nft-explore.html" class="sub-menu-item"> Explore</a></li>

                <li><a href="nft-creators.html" class="sub-menu-item"> Creators</a></li>

                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                    <ul class="submenu">                                        
                        <li><a href="auth-login-bg-video.html" class="sub-menu-item">Login</a></li>
                        <li><a href="auth-signup-bg-video.html" class="sub-menu-item">Signup</a></li>
                        <li><a href="auth-reset-password-bg-video.html" class="sub-menu-item">Reset Password</a></li>
                        <li><a href="page-comingsoon.html" class="sub-menu-item">Coming Soon</a></li>
                        <li><a href="page-maintenance.html" class="sub-menu-item">Maintenance</a></li>
                        <li><a href="page-error.html" class="sub-menu-item">Error</a></li>
                        <li><a href="page-thankyou.html" class="sub-menu-item">Thank you</a></li>
                    </ul>
                </li>

                <li><a href="helpcenter-overview.html" class="sub-menu-item"> Help Center</a></li>
                
                <li><a href="page-contact-one.html" class="sub-menu-item"> Contact</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->