<ul class="list-unstyled sidebar-nav mb-0">
    <li class="navbar-item"><a href="ui-button.html" class="navbar-link">Buttons </a></li>
    <li class="navbar-item"><a href="ui-alert.html" class="navbar-link">Alert </a></li>
    <li class="navbar-item"><a href="ui-typography.html" class="navbar-link">Typography </a></li>
    <li class="navbar-item"><a href="ui-dropdown.html" class="navbar-link">Dropdowns </a></li>
    <li class="navbar-item"><a href="ui-background.html" class="navbar-link">Background </a></li>
    <li class="navbar-item"><a href="ui-text.html" class="navbar-link">Text Color </a></li>
    <li class="navbar-item"><a href="ui-badges.html" class="navbar-link">Badges </a></li>
    <li class="navbar-item"><a href="ui-accordion.html" class="navbar-link">Accordions </a></li>
    <li class="navbar-item"><a href="ui-card.html" class="navbar-link">Cards </a></li>
    <li class="navbar-item"><a href="ui-shadow.html" class="navbar-link">Shadows </a></li>
    <li class="navbar-item"><a href="ui-border.html" class="navbar-link">Borders </a></li>
    <li class="navbar-item"><a href="ui-carousel.html" class="navbar-link">Carousel </a></li>
    <li class="navbar-item"><a href="ui-form.html" class="navbar-link">Form Elements </a></li>
    <li class="navbar-item"><a href="ui-breadcrumb.html" class="navbar-link">Breadcrumb </a></li>
    <li class="navbar-item"><a href="ui-pagination.html" class="navbar-link">Pagination </a></li>
    <li class="navbar-item"><a href="ui-avatar.html" class="navbar-link">Avatars </a></li>
    <li class="navbar-item"><a href="ui-nav-tabs.html" class="navbar-link">Nav Tabs </a></li>
    <li class="navbar-item"><a href="ui-modals.html" class="navbar-link">Modals </a></li>
    <li class="navbar-item"><a href="ui-tables.html" class="navbar-link">Tables </a></li>
    <li class="navbar-item"><a href="ui-icons.html" class="navbar-link">Icons </a></li>
    <li class="navbar-item"><a href="ui-progressbar.html" class="navbar-link">Progressbar </a></li>
    <li class="navbar-item"><a href="ui-lightbox.html" class="navbar-link">Lightbox </a></li>
    <li class="navbar-item"><a href="ui-tooltip-popover.html" class="navbar-link">Tooltips & Popovers </a></li>
</ul>