<!-- Footer Start -->
<footer class="footer">    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row">
                        <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="#" class="logo-footer">
                                <img src="assets/images/logo-light.png" height="24" alt="">
                            </a>
                            <p class="mt-4">Start working with Landrick that can provide everything you.</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                        
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12 mb-4 pb-2">
                                    <h5 class="footer-head mb-0">Shopping & Clothes</h5>
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-4 col-12">
                                    <ul class="list-unstyled footer-list">
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Men</a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Jackets & Coats </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Jeans </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i>  Loungewear </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Polo shirts </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Shirts</a></li>
                                    </ul>
                                </div><!--end col-->
                                
                                <div class="col-lg-4 col-md-4 col-12 mt-2 mt-sm-0">
                                    <ul class="list-unstyled footer-list">
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Shorts </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Suits Swimwear </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> T-shirts </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Tracksuits </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Trousers</a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Shirts</a></li>
                                    </ul>
                                </div><!--end col-->
                                
                                <div class="col-lg-4 col-md-4 col-12 mt-2 mt-sm-0">
                                    <ul class="list-unstyled footer-list">
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> My account </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Order History </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Wish List </a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Newsletter</a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Affiliate</a></li>
                                        <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Returns</a></li>
                                    </ul>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end col-->
    
                        <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <h5 class="footer-head">Newsletter</h5>
                            <p class="mt-4">Sign up and receive the latest tips via email.</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="foot-subscribe mb-3">
                                            <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="d-grid">
                                            <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary" value="Subscribe">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-30 footer-border">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="uil uil-truck align-middle h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Free delivery</h6>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="uil uil-archive align-middle h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Non-contact shipping</h6>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="uil uil-transaction align-middle h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Money-back quarantee</h6>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="uil uil-shield-check align-middle h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Secure payments</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-30 footer-border">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="text-sm-start">
                                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Landrick. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <ul class="list-unstyled text-sm-end mb-0">
                                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                                </ul>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>
        </div>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->